.pbp-wrapper a {
    text-decoration: none !important;
}
.selected-layer .total-price {
    background: #006699 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 6px 0;
}
.selected-layer .panel-title {
    text-align: center;
}
/** Animate **/
.ng-enter {
    transition: 0.75s;
    opacity: 0;
}
.ng-enter-stagger {
    transition-delay: 0.1s;
}
.ng-enter-active{
    opacity: 1;
}
.ng-leave {
    transition: 0.3s;
    opacity: 1;
}
.ng-leave-active {
    opacity: 0;
}
.ng-leave-stagger {
    /**transition-delay: 0.1s;**/
}