.pbp-wrapper a {
    text-decoration: none !important;
    cursor: pointer;
}
/**LAYER**/
.selected-layer .total-price {
    background: #006699 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 6px 0;
}
.selected-layer .panel-title {
    text-align: center;
}
/**End Layer**/
/** Animate **/
.ng-enter {
    transition: 0.75s;
    opacity: 0;
}
.ng-enter-stagger {
    transition-delay: 0.1s;
}
.ng-enter-active{
    opacity: 1;
}
/**
.ng-leave {
    transition: 0.3s;
    opacity: 1;
}
.ng-leave-active {
    opacity: 0;
}
.ng-leave-stagger {
    transition-delay: 0.1s;
}
**/
/** End Angular Animate **/ 

/**Frontend Directive**/
.choose-thumbnail.active img {
    border: 2px solid red;
    border-radius: 50%;
}
/**========================= MEDIA DIRECTIVE ======================**/
.media-wrapper {
    background: #ccc none repeat scroll 0 0;
    border: 2px solid #006699;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 33px;
    z-index: 999999;
}
.media-wrapper .search-image {
   padding: 5px 10px;
}
.image-list {
    margin-top: 5px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    border-top: 1px solid #ccc;
}
.image-list a:hover img {
    border: 2px solid #000000;
}
.image-list img {
    margin: 5px;
    padding: 5px;
    width: 45%;
}