<?xml version="1.0"?>
<config>
    <modules>
        <Magebay_Productbuilderpro>
            <version>1.0.1</version>
        </Magebay_Productbuilderpro>
    </modules>
    <frontend>
        <routers>
            <productbuilderpro>
                <use>standard</use>
                <args>
                    <module>Magebay_Productbuilderpro</module>
                    <frontName>productbuilderpro</frontName>
                </args>
            </productbuilderpro>
        </routers>
        <layout>
            <updates>
                <productbuilderpro>
                    <file>productbuilderpro.xml</file>
                </productbuilderpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <productbuilderpro>
                    <files>
                        <default>MST_Productbuilderpro.csv</default>
                    </files>
                </productbuilderpro>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <productbuilderproadmin>
                <use>admin</use>
                <args>
                    <module>Magebay_Productbuilderpro</module>
                    <frontName>productbuilderproadmin</frontName>
                </args>
            </productbuilderproadmin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <productbuilderpro module="productbuilderpro">
                <title>Products Builder Pro</title>
                <sort_order>31</sort_order>
                <children>
                    <productbuilderpro module="productbuilderpro">
                        <title>Manage Products</title>
                        <sort_order>37</sort_order>
                        <action>productbuilderproadmin/adminhtml_productbuilderpro/index</action>
                    </productbuilderpro>
                    <!--
                    <image module="productbuilderpro">
                        <title>Media Library</title>
                        <sort_order>38</sort_order>
						<action>productbuilderproadmin/adminhtml_media/index</action>
                    </image>-->
                    <setting module="productbuilderpro">
                        <title>Configuration</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/productbuilderpro</action>
                    </setting>
                </children>
            </productbuilderpro>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
				        <productbuilderpro module="productbuilderpro">
                            <title>Manage Products</title>
                            <sort_order>37</sort_order>
                            <action>productbuilderproadmin/adminhtml_productbuilderpro/index</action>
                        </productbuilderpro>
                        <image module="productbuilderpro">
                            <title>Media Library</title>
                            <sort_order>38</sort_order>
                            <action>productbuilderproadmin/adminhtml_media/index</action>
                        </image>
                        <setting module="productbuilderpro">
                            <title>Configuration</title>
                            <sort_order>40</sort_order>
                            <action>adminhtml/system_config/edit/section/productbuilderpro</action>
                        </setting>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productbuilderpro>
                    <file>productbuilderpro.xml</file>
                </productbuilderpro>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <productbuilderpro>
                <class>Magebay_Productbuilderpro_Model</class>
                <resourceModel>productbuilderpro_mysql4</resourceModel>
            </productbuilderpro>
            <productbuilderpro_mysql4>
                <class>Magebay_Productbuilderpro_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>mst_pbp_group</table>
                    </group>
                    <layer>
                        <table>mst_pbp_layer</table>
                    </layer>
                    <image>
                        <table>mst_pbp_images</table>
                    </image>
                </entities>
            </productbuilderpro_mysql4>
        </models>
        <resources>
            <productbuilderpro_setup>
                <setup>
                    <module>Magebay_Productbuilderpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productbuilderpro_setup>
            <productbuilderpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productbuilderpro_write>
            <productbuilderpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productbuilderpro_read>
        </resources>
        <blocks>
            <productbuilderpro>
                <class>Magebay_Productbuilderpro_Block</class>
            </productbuilderpro>
        </blocks>
        <helpers>
            <productbuilderpro>
                <class>Magebay_Productbuilderpro_Helper</class>
            </productbuilderpro>
        </helpers>
    </global>
</config>